server:
  port: 8085

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/auth/**

        - id: customer-service
          uri: lb://CUSTOMER-SERVICE
          predicates:
            - Path=/customer/**

        - id: loan-service
          uri: lb://LOAN-SERVICE
          predicates:
            - Path=/loan/**

        - id: credit-evaluation-service
          uri: lb://CREDIT-EVALUATION-SERVICE
          predicates:
            - Path=/loan/**